style
  p {
    border: solid 1px rgba(255,0,0,.25);
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,.25);
    text-align: center;
  }
//- "Get the Source"
div(style="max-width: 600px; margin: 0px auto;")
  p Sorry, that command isn't working properly
