//- TODO: These styles should move into a stylesheet at some point, but
  having them inline here is easier during early development

style
  h3 {
    font-size: 120%;
    padding: 0px;
    padding: 5px 0px;
    margin: 5px 0px;
  }

  fieldset {
    margin-top: 10px;
    border: solid 1px #ccc;
    border-width: 1px 0px 0px 0px;
  }

  input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
  }

  dt {
    font-weight: bold;
    color: #444;
  }
  dd {
    margin-bottom: 1em;
  }

  .section.closed .fold {
    display: none;
  }

  .switch {
    text-align: center;
    border-radius: 15px;

    margin-left: 6px;
    display: inline-block;
    position: relative;
    color: #883;
    margin-right: 20px;
    -webkit-transition: all 0.3s ease-in;
  }
  .section h3 {
    -webkit-transition: all 0.1s linear;
    background-color: #fff;
    border-radius: 5px;
  }
  .section h3:hover {
    cursor: pointer;
    background-color: #cc8;
  }
  .section.closed .switch {
    -webkit-transform: rotate(-90deg);
  }

  .section td.phrase {
    font-family: monospace;
    font-weight: bold;
  }

script(src='/javascripts/jquery.min.js')
script
  function addJarvis() {
    external.AddSearchProvider('http://localhost:3000/jarvis.xml');
  }

  function setDefault(cmd) {
    document.cookie=[
      'd=' + cmd,
      'path=/',
      'max-age=' + 1e8
    ].join(';')
  }

  $('.section h3').live('click', function() {
    $(this).closest('.section').toggleClass('closed');
  });

dl
  dt What is it?
  dd
    | Jarvis lets you create custom commands for your browser's search box, and
    | share those commands with friends and coworkers.  Whether it's a customer
    | database, issue tracking system, source code repository, company wiki,
    | inventory system, or simply a shared collection of bookmarks , Jarvis
    | makes it easy. 

  dt How's it work?
  dd
    | It's so darn simple it's almost embarassing.  Just 
    a(href='#',onclick='addJarvis()') add Jarvis to your search box
    |  and search for "jarvis" to get started. (PENDING: that link only works
    | on IE and FF for the moment.  Safari/Chrome support coming soon.)

  dt "Wait... you're not one of those spammy toolbar things are you?"
  dd
    | Nope.  Jarvis is 100% kosher.  No spam, no malware/adware, nothing to
    | install &hellip; none of that nonsense.  In fact, it's opensource so 
    a(href='https://github.com/broofa/jarvis') check it out
    |  and help improve it.

//
  h2 Try It
  form(action="/search", method="get")
    label
      input(type="text",name="q")
      | e.g. "go nikon camera"

h2 Commands

each set in command.commandSets
  div.section.closed
    h3
      span.switch &#9660;
      | #{set.info.name} &mdash; #{set.info.doc}
    div.fold
      table
        each cmd in set.commands
          tr
            td
              input(type='radio',
              name = 'command',
              checked = defaultCommand == cmd.phrase,
              onclick = 'setDefault(\'' + cmd.phrase + '\')')
            td.phrase= cmd.phrase
            td.doc !{cmd.doc}
